#app {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    .countryContainer {
        position: relative;
        max-width: 400px;
        width: 100%;
        background-color: antiquewhite;
        border-radius: 25px;
        overflow: hidden;
        cursor: pointer;
        .imgContainer {
            width: 100%;
            img {
                width: 100%;

            }

        }
        .noInfo {
            position: absolute;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 255, 255, 0.825);
            top: 0;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
}